.home-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 20vh;
}

.wiki-topics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 50%;
    margin: auto;
}

.wiki-topic {
    display: flex;
    flex-direction: column;
    border-width: 2px;
    margin-top: 20px;
    padding: 20px;

    margin: auto;

    
    height: 20vh;
    width: 10vw;

    border: solid;
    border-color: black;
    border-width: 2px;
} 

