.home-layout {
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    width: 80%;
    margin: auto;
}

.SearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
