.search-input {
    width: 40vw;
    max-width: 40vw;

    height: 25px;
    padding: 12px 20px;
    font-family: 'Mantinia', serif;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #fbff00;
}

.search-div {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    padding: 2vw;
    padding-bottom: 10vh;
    border-radius: 25px;
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent),
                        linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
    -webkit-mask-composite: source-in;
    mask-image: linear-gradient(to right, transparent, black 2%, black 98%, transparent),
                linear-gradient(to bottom, transparent, black 2%, black 80%, transparent);
    mask-composite: intersect;
}

.search-results{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.result-item{
    background-color: #000000;
    margin-bottom: 10px;
    width: 100%;

    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;

    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 70%, transparent),
                        linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
    -webkit-mask-composite: source-in;
    mask-image: linear-gradient(to right, transparent, black 10%, black 70%, transparent),
                linear-gradient(to bottom, transparent, black 2%, black 80%, transparent);
    mask-composite: intersect;

    
}

.result-item.expanded {
    background-color: #3e3c2f;
}

.result-item:hover {
    background-color: #3e3c2f;
}

.result-item-children{
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.result-item-child {
    background-color: #3e3c2f;
    margin-bottom: 1px;
    width: 100%;
    height: 50%;

    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 5%;

    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 10%, transparent),
                        linear-gradient(to bottom, transparent, black 10%, black 70%, transparent);
    -webkit-mask-composite: source-in;
    mask-image: linear-gradient(to right, transparent, black 10%, black 10%, transparent),
                linear-gradient(to bottom, transparent, black 10%, black 80%, transparent);
    mask-composite: intersect;  
}

.result-item-child:hover {
    background-color: #928c7d;
}

.search-results text{
    font-family: 'Mantinia', serif;
    color: #d4d4d4;
    padding-left: 10%;
}